---
layout: default
title: writings
---

<div class="home">
  <div class="post-list">
    {% for post in site.writings %}
    <article class="post_card post">
      <header class="post_header">
        <h2 class="post_title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></h2>
        <p class="post_date">{{ post.date_text }}</p>
      </header>
      <div class="post_excerpt">
        <p>
          {% if post.description %}
          {{ post.description}}
          {% else %}
          {{ post.excerpt }}
          {% endif %}
          <a class="read-more" href="{{ post.url | prepend: site.baseurl }}"> »  </a>
        </p>
      </div>
      <footer class="post_meta">
      </footer>
      <hr/>
    </article>
    {% endfor %}

    <!-- <div class="pagination older-post"><a href="{{ site.baseurl }}/archive"><data data-icon="ei-arrow-right"></data> Archive  </a></div> -->
  </div>
</div>
