
{%- assign link_count = 0 -%}
{%- for note in site.posts -%}
  {%- if note.url != page.url -%}
    {%- if note.content contains page.url -%}
      {%- assign link_count = link_count | plus:1 -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
{%- for note in site.pages -%}
  {%- if note.url != page.url -%}
    {%- if note.content contains page.url -%}
      {%- assign link_count = link_count | plus:1 -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
{%- if link_count > 0 -%}
<div class="backlinks">
    <h2>Backlinks</h2>
    <br />
    <div>
        {%- for note in site.posts -%}
        {%- if note.url != page.url -%}
            {%- if note.content contains page.url -%}
            <div><p><a href="{{note.url}}">{{ note.title }}</a></p></div>
            {%- endif -%}
        {%- endif -%}
        {%- endfor -%}
        {%- for note in site.pages -%}
        {%- if note.url != page.url -%}
            {%- if note.content contains page.url -%}
            <div><p><a href="{{note.url}}">{{ note.title }}</a><p></div>
            {%- endif -%}
        {%- endif -%}
        {%- endfor -%}
    </div>
    <br/>
</div>
{%- endif -%}
