{% for post in site.posts reversed %}
{% if post.categories contains include.cat %}

<div class="post_title">
  &raquo; <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
  <!-- <span class="date">{{ post.date | date: "%d %B %Y" }}</span> -->
  <span class="date">{{ post.subtitle }}</span>
</div>

{% endif %}
{% endfor %}

{% for post in site.pieces %}
{% if post.categories contains include.cat %}

<div class="post_title">
  &raquo; <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
  <span class="date">{{ post.subtitle }}</span>
  <!-- <span class="date">{{ post.date | date: "%d %B %Y" }}</span> -->
</div>

{% endif %}
{% endfor %}

{% for post in site.writings %}
{% if post.categories contains include.cat %}

<div class="post_title">
  &raquo; <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
  <span class="date">{{ post.subtitle }}</span>
  <!-- <span class="date">{{ post.date | date: "%d %B %Y" }}</span> -->
</div>

{% endif %}
{% endfor %}
