{% for post in site.posts %}

{% if post.categories contains include.cat %}
{% assign wordCount = post.content | number_of_words %}
<div class="post_title">
  <!-- &raquo;  -->
  <p class="post_date">{{ post.date | date: "%d %B %Y" }}</p>
  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
  <div class="post_subtitle">{{ wordCount }} words</div>
  <div class="post_subtitle">
  {% for category in post.categories %}
  <a class="list_tag" href="{{site.baseurl}}/{{category}}/">#{{category}}</a>
  {% endfor %}
  </div>

</div>

<hr />

{% endif %}
{% endfor %}

<!-- {% for post in site.pieces %} -->
<!-- {% if post.categories contains include.cat %} -->

<!-- <div class="post_title"> -->
  <!-- &raquo; <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a> -->
  <!-- <span class="date">{{ post.subtitle }}</span> -->
  <!-- <span class="date">{{ post.date | date: "%d %B %Y" }}</span> -->
<!-- </div> -->

<!-- {% endif %} -->
<!-- {% endfor %} -->

<!-- {% for post in site.writings %} -->
<!-- {% if post.categories contains include.cat %} -->

<!-- <div class="post_title"> -->
  <!-- &raquo; <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a> -->
  <!-- <span class="date">{{ post.subtitle }}</span> -->
  <!-- <span class="date">{{ post.date | date: "%d %B %Y" }}</span> -->
<!-- </div> -->

<!-- {% endif %} -->
<!-- {% endfor %} -->
