---
layout: default
---
<article class="post">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    {% if page.meta %}
    <p class="artilce_meta">{{ page.meta }}</p>
    {% else %}
    {% if page.date_text %}
    <p class="artilce_meta">{{ page.date_text }}</p>
    {% else %}
    <!-- <p class="artilce_meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p> -->
    {% endif %}
    {% endif %}
    <br />
  </header>

  <div class="article-content">
    {{ content }}
  </div>

  <br />
  <footer class="post_meta">
    <div class="post-categories">
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
      <a href="{{site.baseurl}}/{{category}}/">#{{category}}</a>
      {% endfor %}
    </div>
  </footer>
  <!-- <hr /> -->

</article>
