---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="artilce_header">
    <h2 class="artilce_title" itemprop="name headline">{{ page.title }}</h2>
    <time class="post_subtitle">{{ page.subtitle }}</time>
    <br />
    <time class="post_date">{{ page.date | date: "%d %B %Y" }}</time>
    <br />
    <br />
    <!-- {% if page.meta %}
    <p class="artilce_meta">{{ page.meta }}</p>
    {% else %}
    {% if page.date_text %}
    <p class="artilce_meta">{{ page.date_text }}</p>
    {% else %}
    <p class="artilce_meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
    {% endif %}
    {% endif %} -->
  </header>

  <div class="article-content" itemprop="articleBody">
    {{ page.content }}
  </div>
  <br />
  <footer class="post_meta">
    <div class="post-categories">
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
      <a href="{{site.baseurl}}/{{category}}/">#{{category}}</a>
      {% endfor %}
    </div>
  </footer>

  {% if page.comments == true %}
    {% include comments.html %}
  {% endif %}

</article>
